<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.2.1" targetFramework="net45" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net45" />
  <package id="ShellProgressBar" version="3.0.0.0" targetFramework="net45" />
</packages>